@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem;
}

#textolaranja {
    color: #F5811E;
}

header {
    padding: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    border-bottom: 2px solid #F5811E;
}

.marca {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

.cabecalho-nome {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: italic;
    font-weight: 900;
}

.header-img-logo {
    max-height: 60px;
}

.nav-cabecalho {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.menu-nav li{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.menu-nav li a {
    text-decoration: none;
    color: white;
}

.menu-nav li a:hover {
    text-decoration: none;
    color: #F5811E;
    text-decoration: underline;
}

.menu-botoes {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.menu-botoes-img {
    max-height: 20px;
}

/*PAGINA 1*/

.pagina1 {
    background-image:
    linear-gradient(to bottom, transparent 60%, #000000 100%),
     url('https://images.unsplash.com/photo-1605296867304-46d5465a13f1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pagina1 {
    min-height: 80vh;
    padding: 10rem 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    line-height: 1.2;
}

.pagina1-titulo {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: italic;
    font-weight: 900;
    font-size: 3.5rem;
}

.pagina1-texto {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.25rem;
}

.pagina1-botoes {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
}

.pagina1-botao {
    font-size: 1.25rem;
    padding: 1.5rem 2rem 1.5rem 2rem;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    clip-path: polygon(10% 0, 100% 0, 100% 80%, 90% 100%, 0 100%, 0 20%);
}

.pagina1-botao:hover {
    text-decoration: none;
    background-color: white;
    color: #000000;
    clip-path: polygon(10% 0, 100% 0, 100% 80%, 90% 100%, 0 100%, 0 20%);
}

/*PAGINA 2*/

.pagina2 {
    padding: 4rem;
}

.pg2-listacards {
    display: flex;
    flex-direction: row;
}

.pg2-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.pag2-card {
    position: relative;
    max-height: 600px;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #333;
}

.pag2-card:hover img {
  transform: scale(1.1);
}

.pag2-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

.pag2-texto {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: linear-gradient(to top, rgba(0,0,0,5), transparent);
}

.pag2-texto h3 {
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 900;
}

.page2-cta {
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.125rem;
    color: #F5811E;
}

/*PAGINA 3 - BEST SELLERS*/

.pagina3 {
    background-image: linear-gradient(0deg, #1e1e1e, #111111, #000000);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pag3-titulo {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #F5811E;
    width: 30%;
    margin-bottom: 1.5rem;
}

.pagina3-lista {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    gap: 2rem;
    padding: 2rem;
}

.pagina3-card {
    border-radius: 8px;
    cursor: pointer;
    background-color: #1e1e1e;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #4d4d4d;
    padding: 1rem;
}

.pag3-img {
    margin-top: 1rem;
    max-width: 250px;
    border-radius: 4px;
    box-shadow: 2px 3px 5px 2px #111111;
}

#pag3card1:hover #pag3-img1 {
    content: url("https://duxnutrition.vtexassets.com/arquivos/ids/169290-400-400/mouse-hover-0000s-0020-DUX-REBRANDING-WPC-900-G-BANNER-01-R01.webp?v=638985793701070000");
}
#pag3card2:hover #pag3-img2 {
    content: url("https://duxnutrition.vtexassets.com/arquivos/ids/166754-400-400/mouse_hover__0001s_0007_BANNER-01_CREATINA-CREAPURE_300G_R02.webp?v=638762748356230000");
}

#pag3card3:hover #pag3-img3 {
    content: url("https://duxnutrition.vtexassets.com/arquivos/ids/168816-400-400/mouse-hover-0000s-0023-DUX-REBRANDING-WPI-450-G-BANNER-01-R02.webp?v=638888078921500000");
}

.pagina3-card:hover {
    border: 1px solid #F5811E;
    transition: opacity 0.3s ease;
}

.pag3-card-info {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

.nome-descricao {
    display: flex;
    flex-direction: column;
    justify-content: left;

}

.nome-produto {
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-size: 1.125rem;
    font-weight: 800;
    padding-top: 0.5rem
}

.descricao-produto {
    font-size: 1rem;
}

.preco-botao {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.preco {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
}

.botaoadd {
    max-height: 32px;
}

.botaoadd:hover {
    content: url("../assets/botaoadd-hover.png");
}

details {
    display: flex;
    flex-direction: column;
}

summary {
    margin: 2.5rem;
    margin-bottom: 4rem;
    padding: 1rem;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 1.125rem;
    font-weight: 800;
    border: 1px solid white;
    clip-path: polygon(10% 0, 100% 0, 100% 80%, 90% 100%, 0 100%, 0 20%);
}

summary:hover {
    background-color: white;
    color: #000000;
}

summary::marker {
    content: "";
}

.pagina3-vermais {
    border: none;
    background-color: transparent;
    color: white;
}

#pag3card4:hover #pag3-img4 {
    content: url("https://duxnutrition.vtexassets.com/arquivos/ids/166620-400-400/mouse-hover-0000s-0009-BANNER-01-CREATINA-MONOHIDRATADA-300-G-R02.webp?v=638762749144070000");
    transition: opacity 0.3s ease;
}

/*PAGINA 4*/

.pagina4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #4d4d4d;
    border-bottom: 3px solid #F5811E;
}

.pagina4-lista {
    padding: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12rem;
    list-style: none;
}

.pagina4-img {
    max-height: 150px;
    padding: 1rem;
}

.pagina4-lista-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagina4-lista-item h3 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 1.125rem;
    font-weight: 800;
}

/*FOOTER*/

.footer-principal {
    padding: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-principal h3 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 1.125rem;
    font-weight: 800;
    padding: 0.5rem;
    padding-left: 1rem;
    border-left: 2px solid #F5811E;
}

.logo-missao-redes {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    inline-size: 1.5;
}

.logo-nome-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
}

.logo-footer {
    max-height: 40px;
}

.logo-nome-footer h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
}

.missao-footer {
    padding-bottom: 1rem;
    width: 40%;
    margin-bottom: 0.5rem;
    color: #c4c4c4;
}

.redes {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.footer-redes-img {
    max-height: 30px;
}

.footer-listas {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
}

.nav-footer-lista {
    display: flex;
    flex-direction: column;
    list-style: none;
    line-height: 1.5;
    padding-top: 1rem;
}

.ajuda-footer-lista {
    display: flex;
    flex-direction: column;
    list-style: none;
    line-height: 1.5;
    padding-top: 1rem;
}

.nav-item a{
    text-decoration: none;
    color: #4d4d4d;
    margin: 1rem;
    font-size: 1rem;
}

.nav-item a:hover{
    text-decoration: none;
    color:#c4c4c4;
    margin: 1.1rem;
    transform: 0.3s;
}

.direitos-autorais {
    display: flex;
    justify-content: center;
    border-top: 1px solid #333;
    color: #333;
    padding: 1rem;
}
